.useRef-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 14vw;
    padding: 5px;
    border: 1.5px dashed rgb(188, 3, 126);
    margin-right: 10px;
}

.useRef-container > div {
    width: 100%;
    font-size: clamp(0.5rem, 2.5vw, 2rem); 
    text-align: center;
}

.useRef-container > button {
    background-color: rgba(100, 100, 100, 0.6);
}

.container {
    display: flex;
    margin-top: 10px;
}

.rules {
    margin-left: 10px;
}

.useRef-container > input {
    width: 80%;
}