body {
    font-family: sans-serif;
  }
  
  .body-style {
    margin: 50px 50px;
  }

  .title {
    text-align: center;
  }
  
  .text-input {
    margin-top: 16px;
  }
  
  .text-input-value {
    height: 20px;
  }
